body{
    background-color: #023149;
    background-image: linear-gradient(#0594BE, #023149 900px);
    background-repeat: repeat-x;
    background-size: 100% 900px;
    font-family: helvetica,arial,sans-serif;
    padding: 0;
    margin: 0;
}

.login-wrapper{
    margin-top: 150px;
    background: url("../img/login-bg.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

#footer{
    margin-bottom: 20px;
    text-align: left;
    color: #fff;
    padding-top: 150px;
    position: absolute;
    bottom: 0;
}

#footer a{
    color: #f7cf83;
}